<div x-show="visible" class="lite-cta" x-data="{ visible: true }">
  <div class="head">
    <h3>Minimal Lite</h3>
    <button type="button" @click="visible = false">
      <i class="iconify no-click" data-icon="lucide:x"></i>
    </button>
  </div>
  <div class="body">
    <p>Welcome to the Minimal Lite freebie demo. This is a free and open source demo of a premium product.</p>
  </div>
  <div class="foot">
    <a href="https://go.cssninja.io/buy-minimal" class="button is-primary raised is-fullwidth"
      >Purchase Full Version</a
    >
    <a href="https://go.cssninja.io/demo-minimal" class="link">Explore full demo</a>
  </div>
</div>